<!-- get_header('Page Name','Title')-->
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Global Nostalgia</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700%7CPacifico"
      rel="stylesheet"
    />

    <link rel="icon" type="image/png" href="favicon.html" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="apple-touch-icon.html" />

    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/jquery-ui.css" />

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/iconfont.css" />
    <link rel="stylesheet" href="/assets/css/isotope.css" />
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/assets/css/vertical-menu.css" />
    <link rel="stylesheet" href="/assets/css/navigation.min.css" />

    <!--For Plugins external css-->
    <link rel="stylesheet" href="/assets/css/plugins.css" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="/assets/css/index.css" />

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="/assets/css/responsive.css" />
  </head>
  <body >
    <%- include('partials/only_home_header'); -%>
   
    <!-- feature product full width section -->
    
    <section class="xs-section-padding-2">
      <div class="container container-fullwidth">
        <div class="row">
          <div class="col-lg-3 deal-of-the-week-v2">
            <div class="xs-content-header background-version">
              <h2 class="xs-content-title">Deals of the week</h2>
              <div class="customNavigation xs-custom-nav">
                <a class="prev" id="prev-4"
                  ><i class="icon icon-left-arrows"></i
                ></a>
                <a class="next" id="next-4"
                  ><i class="icon icon-right-arrow"></i
                ></a>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- xs-content-header background-version END -->
            <div class="xs-deal-of-the-week owl-carousel">
              <div class="xs-deal-blocks">
                <img
                  src="/assets/images/203x200/product_1_203x200.jpg"
                  data-echo="/assets/images/203x200/product_1_203x200.jpg"
                  alt=""
                />
                <div class="xs-deals-info">
                  <div class="media">
                    <div class="media-body mr-3 align-self-center">
                      <h4 class="product-title">
                        <a href="/product/product-details">EliteBook Earphone</a>
                      </h4>
                      <span class="price">₹107.65 <del>₹189.99</del></span>
                    </div>
                    <div class="xs-product-offer-label">
                      <span>57%</span>
                      <small>Offer</small>
                    </div>
                  </div>
                  <div class="xs-deal-stock-limit clearfix">
                    <span class="product-sold">Already Sold: 35</span>
                    <span class="product-available">Available: 51</span>
                  </div>
                  <div class="progress xs-progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
                <!-- .xs-deals-info END -->
                <hr />
                <div class="countdow-timer">
                  <h4>
                    <span class="color-primary">Hurry up!</span> Offers ends in:
                  </h4>
                  <div
                    class="xs-countdown-timer"
                    data-countdown="2020/03/01"
                  ></div>
                </div>
                <!-- .countdow-timer END -->
              </div>
              <!-- .xs-deal-blocks END -->
              <div class="xs-deal-blocks">
                <img
                  src="/assets/images/203x200/product_2_203x200.jpg"
                  data-echo="/assets/images/203x200/product_2_203x200.jpg"
                  alt=""
                />
                <div class="xs-deals-info">
                  <div class="media">
                    <div class="media-body mr-3 align-self-center">
                      <h4 class="product-title">
                        <a href="/product/product-details">EliteBook Desktop</a>
                      </h4>
                      <span class="price">₹207.65 <del>₹289.99</del></span>
                    </div>
                    <div class="xs-product-offer-label">
                      <span>60%</span>
                      <small>Offer</small>
                    </div>
                  </div>
                  <div class="xs-deal-stock-limit clearfix">
                    <span class="product-sold">Already Sold: 15</span>
                    <span class="product-available">Available: 10</span>
                  </div>
                  <div class="progress xs-progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="60"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
                <!-- .xs-deals-info END -->
                <hr />
                <div class="countdow-timer">
                  <h4>
                    <span class="color-primary">Hurry up!</span> Offers ends in:
                  </h4>
                  <div
                    class="xs-countdown-timer"
                    data-countdown="2020/01/24"
                  ></div>
                </div>
                <!-- .countdow-timer END -->
              </div>
              <!-- .xs-deal-blocks END -->
            </div>
            <!-- .xs-deal-of-the-week END -->
          </div>
          <div class="col-lg-9">
            <div class="xs-content-header">
              <h2 class="xs-content-title">Featured Product</h2>
              <ul class="nav nav-tabs xs-nav-tab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="fp-on-sale-tab"
                    data-toggle="tab"
                    href="#fp-onSale"
                    role="tab"
                    aria-controls="fp-onSale"
                    aria-selected="true"
                    >On sale</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="fp-hot-sale-tab"
                    data-toggle="tab"
                    href="#fp-hot-sale"
                    role="tab"
                    aria-controls="fp-hot-sale"
                    aria-selected="false"
                    >Hot sale</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="fp-trend-tab"
                    data-toggle="tab"
                    href="#fp-trend"
                    role="tab"
                    aria-controls="fp-trend"
                    aria-selected="false"
                    >Trend</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="fp-best-sale-tab"
                    data-toggle="tab"
                    href="#fp-best-sale"
                    role="tab"
                    aria-controls="fp-best-sale"
                    aria-selected="false"
                    >Best Sell</a
                  >
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="fp-onSale"
                role="tabpanel"
                aria-labelledby="fp-on-sale-tab">
                <div class="row feature-product-v4">
                  <% for(var i=0;i<8;i++){ %>
                    <div class="col-lg-3 col-md-6">
                    <div class="xs-single-product">
                      <div class="xs-product-wraper text-center">
                        <img
                          src="<%= featured[i].productdetail.avatar[0]%>"
                          data-echo="<%=featured[i].productdetail.avatar[0]%>"
                          style="width: 71px;height: 70px;"
                          alt="<%= featured[i].productdetail.subcategory %>"
                        />
                        <ul class="product-item-meta">
                          <li>
                            <form action="/user/cart/<%=featured[i]._id%>" method="POST">
                              <button type="submit" >
                                <i class="icon icon-online-shopping-cart"></i>
                              </button>
                            </form>
                          </li>
                          <li>
                            <a
                              href="#"
                              data-toggle="modal"
                              data-target=".xs-quick-view-modal"
                              ><i class="icon icon-medical2"></i
                            ></a>
                          </li>
                          <li>
                            <a href="/user/wishlist/<%=featured[i]._id%>" class="xs-wishlist-and-compare"><i class="fa fa-heart" aria-hidden="true"></i></a>
                          </li>
                          <li>
                            <a href="#"
                              ><i class="icon icon-shuffle-arrow"></i
                            ></a>
                          </li>
                        </ul>
                        <div class="xs-product-content">
                          <h4 class="product-title">
                            <a href="product/id/<%= featured[i]._id%>"
                              ><%=featured[i].productdetail.productname %></a
                            >
                          </h4>
                          <span class="price">
                            <%=featured[i].productdetail.price %>$
                            <del><%=featured[i].productdetail.prize %>$</del>
                          </span>
                        </div>
                        <!-- .xs-product-content END -->
                      </div>
                      <!-- .xs-product-wraper .version-3 END -->
                      <ul class="list-group xs-list-group">
                        <%const tag_lower= featured[i].productdetail.subcategory.toLowerCase(); 
                          const tagslist=tags[tag_lower];
                        %>
                          <li class="d-flex justify-content-between">
                                <%= tagslist[0] %><span><%= featured[i].productdetail[tagslist[0]]%></span>
                          </li>    
                          <% for(var j=4;j<tagslist.length;j+=2){ %>
                            
      
                            <li class="d-flex justify-content-between">
                              <%= tagslist[j] %><span><%= featured[i].productdetail[tagslist[j]]%></span>
                            </li>
                          <%}%>
                      </ul>
                      
                    </div>
                  </div>
                    <%}%> 
                  
                </div>    
              </div>
              <div
                class="tab-pane fade"
                id="fp-hot-sale"
                role="tabpanel"
                aria-labelledby="fp-hot-sale-tab"
              >
                <div class="row feature-product-v4">
                  <% for(var i=0;i<8;i++){ %>
                    <div class="col-lg-3 col-md-6">
                    <div class="xs-single-product">
                      <div class="xs-product-wraper text-center">
                        <img
                          src="<%= hotsale[i].productdetail.avatar[0]%>"
                          data-echo="<%=hotsale[i].productdetail.avatar[0]%>"
                          style="width: 71px;height: 70px;"
                          alt="<%= hotsale[i].productdetail.subcategory %>"
                        />
                        <ul class="product-item-meta">
                          <li>
                            <form action="/user/cart/<%=hotsale[i]._id%>" method="POST">
                              <button type="submit" >
                                <i class="icon icon-online-shopping-cart"></i>
                              </button>
                            </form>
                          </li>
                          <li>
                            <a
                              href="#"
                              data-toggle="modal"
                              data-target=".xs-quick-view-modal"
                              ><i class="icon icon-medical2"></i
                            ></a>
                          </li>
                          <li>
                            <a href="/user/wishlist/<%=hotsale[i]._id%>" class="xs-wishlist-and-compare"><i class="fa fa-heart" aria-hidden="true"></i></a>
                          </li>
                          <li>
                            <a href="#"
                              ><i class="icon icon-shuffle-arrow"></i
                            ></a>
                          </li>
                        </ul>
                        <div class="xs-product-content">
                          <h4 class="product-title">
                            <a href="product/id/<%= hotsale[i]._id%>"
                              ><%=hotsale[i].productdetail.productname %></a
                            >
                          </h4>
                          <span class="price">
                            <%=hotsale[i].productdetail.price %>$
                            <del><%=hotsale[i].productdetail.prize %>$</del>
                          </span>
                        </div>
                        <!-- .xs-product-content END -->
                      </div>
                      
                      <!-- .xs-product-wraper .version-3 END -->
                      <ul class="list-group xs-list-group">
                        <%const tag_lower= hotsale[i].productdetail.subcategory.toLowerCase(); 
                          const tagslist=tags[tag_lower]; %>
                          <li class="d-flex justify-content-between">
                                <%= tagslist[0] %><span><%= hotsale[i].productdetail[tagslist[0]]%></span>
                          </li>    
                          <% for(var j=4;j<tagslist.length;j+=2){ %>
                            
      
                            <li class="d-flex justify-content-between">
                              <%= tagslist[j] %><span><%= hotsale[i].productdetail[tagslist[j]]%></span>
                            </li>
                          <%}%>
                      </ul>
                      
                    </div>
                  </div>
                    <%}%> 
                  
                </div>    
              </div>
              <div
                class="tab-pane fade"
                id="fp-trend"
                role="tabpanel"
                aria-labelledby="fp-trend-tab"
              >
                <div class="row feature-product-v4">
                  <% for(var i=0;i<8;i++){ %>
                    <div class="col-lg-3 col-md-6">
                    <div class="xs-single-product">
                      <div class="xs-product-wraper text-center">
                        <img
                          src="<%= trend[i].productdetail.avatar[0]%>"
                          data-echo="<%=trend[i].productdetail.avatar[0]%>"
                          style="width: 71px;height: 70px;"
                          alt="<%= trend[i].productdetail.subcategory %>"
                        />
                        <ul class="product-item-meta">
                          <li>
                            <form action="/user/cart/<%=trend[i]._id%>" method="POST">
                              <button type="submit" >
                                <i class="icon icon-online-shopping-cart"></i>
                              </button>
                            </form>
                          </li>
                          <li>
                            <a
                              href="#"
                              data-toggle="modal"
                              data-target=".xs-quick-view-modal"
                              ><i class="icon icon-medical2"></i
                            ></a>
                          </li>
                          <li>
                            <a href="/user/wishlist/<%=trend[i]._id%>" class="xs-wishlist-and-compare"><i class="fa fa-heart" aria-hidden="true"></i></a>
                          </li>
                          <li>
                            <a href="#"
                              ><i class="icon icon-shuffle-arrow"></i
                            ></a>
                          </li>
                        </ul>
                        <div class="xs-product-content">
                          <h4 class="product-title">
                            <a href="product/id/<%= trend[i]._id%>"
                              ><%=trend[i].productdetail.productname %></a
                            >
                          </h4>
                          <span class="price">
                            <%=trend[i].productdetail.price %>$
                            <del><%=trend[i].productdetail.prize %>$</del>
                          </span>
                        </div>
                        <!-- .xs-product-content END -->
                      </div>
                      <!-- .xs-product-wraper .version-3 END -->
                      <ul class="list-group xs-list-group">
                        <%const tag_lower= trend[i].productdetail.subcategory.toLowerCase(); 
                          const tagslist=tags[tag_lower];
                         %>
                          <li class="d-flex justify-content-between">
                                <%= tagslist[0] %><span><%= trend[i].productdetail[tagslist[0]]%></span>
                          </li>    
                          <% for(var j=4;j<tagslist.length;j+=2){ %>
                            
      
                            <li class="d-flex justify-content-between">
                              <%= tagslist[j] %><span><%= trend[i].productdetail[tagslist[j]]%></span>
                            </li>
                          <%}%>
                      </ul>
                      
                    </div>
                  </div>
                    <%}%> 
                  
                </div>    
              </div>
              <div
                class="tab-pane fade"
                id="fp-best-sale"
                role="tabpanel"
                aria-labelledby="fp-best-sale-tab"
              >
                <div class="row feature-product-v4">
                  <% for(var i=0;i<8;i++){ %>
                    <div class="col-lg-3 col-md-6">
                    <div class="xs-single-product">
                      <div class="xs-product-wraper text-center">
                        <img
                          src="<%= bestsell[i].productdetail.avatar[0]%>"
                          data-echo="<%=bestsell[i].productdetail.avatar[0]%>"
                          style="width: 71px;height: 70px;"
                          alt="<%= bestsell[i].productdetail.subcategory %>"
                        />
                        <ul class="product-item-meta">
                          <li>
                            <form action="/user/cart/<%=bestsell[i]._id%>" method="POST">
                              <button type="submit" >
                                <i class="icon icon-online-shopping-cart"></i>
                              </button>
                            </form>
                          </li>
                          <li>
                            <a
                              href="#"
                              data-toggle="modal"
                              data-target=".xs-quick-view-modal"
                              ><i class="icon icon-medical2"></i
                            ></a>
                          </li>
                          <li>
                            <a href="/user/wishlist/<%=bestsell[i]._id%>" class="xs-wishlist-and-compare"><i class="fa fa-heart" aria-hidden="true"></i></a>
                          </li>
                          <li>
                            <a href="#"
                              ><i class="icon icon-shuffle-arrow"></i
                            ></a>
                          </li>
                        </ul>
                        <div class="xs-product-content">
                          <h4 class="product-title">
                            <a href="product/id/<%= trend[i]._id%>"
                              ><%=bestsell[i].productdetail.productname %></a
                            >
                          </h4>
                          <span class="price">
                            <%=bestsell[i].productdetail.price %>$
                            <del><%=bestsell[i].productdetail.prize %>$</del>
                          </span>
                        </div>
                        <!-- .xs-product-content END -->
                      </div>
                      <!-- .xs-product-wraper .version-3 END -->
                      <ul class="list-group xs-list-group">
                        <%const tag_lower= bestsell[i].productdetail.subcategory.toLowerCase(); 
                          const tagslist=tags[tag_lower];
                         %>
                          <li class="d-flex justify-content-between">
                                <%= tagslist[0] %><span><%= bestsell[i].productdetail[tagslist[0]]%></span>
                          </li>    
                          <% for(var j=4;j<tagslist.length;j+=2){ %>
                            
      
                            <li class="d-flex justify-content-between">
                              <%= tagslist[j] %><span><%= bestsell[i].productdetail[tagslist[j]]%></span>
                            </li>
                          <%}%>
                      </ul>
                      
                    </div>
                  </div>
                    <%}%> 
                  
                </div>    
              </div>
              
              <!-- #fp-best-sale END -->
            </div>
          </div>
        </div>
        <!-- .row END -->
      </div>
      <!-- .container END -->
    </section>

    <!-- quickView -->
    <!-- Modal -->
    <div
      class="xs-modal xs-quick-view-modal modal fade"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span class="icon icon-cross"></span>
          </button>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="images">
                  <img
                    src="/assets/images/lenovo-yoga-720-15-png-01.png"
                    alt="Product"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="summary-content entry-summary">
                  <h3 class="entry-title">Hitech Innovations</h3>
                  <h4 class="product-title">
                    Zboom 27-inch with Retina 5K display
                  </h4>
                  <p>
                    Choose the colour that best reflects your personality and it
                    will become your best companion during your everyday
                    activities.
                  </p>
                  <span class="star-rating color-green">
                    <span class="value">(200 Customers review)</span>
                  </span>
                  <span class="price highlight">
                    <del>₹590.00</del>
                    ₹370.00
                  </span>
                  <div class="xs-add-to-chart-form row">
                    <div class="col-md-8">
                      <form action="#">
                        <div class="w-quantity quantity xs_input_number">
                          <input type="number" min="1" max="100" value="1" />
                        </div>
                        <div class="w-quantity-btn">
                          <input type="hidden" name="add-to-cart" value="605" />
                          <button
                            type="submit"
                            class="single_add_to_cart_button btn btn-primary"
                          >
                            Add To Cart
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </form>
                    </div>
                    <div class="col-md-2">
                      <a href="#" class="xs-wishlist-and-compare"
                        ><i class="fa fa-heart" aria-hidden="true"></i
                      ></a>
                    </div>
                    <div class="col-md-2">
                      <a href="#" class="xs-wishlist-and-compare"
                        ><i
                          class="icon icon-shuffle-arrow"
                          aria-hidden="true"
                        ></i
                      ></a>
                    </div>
                  </div>
                  <ul class="xs-social-list">
                    <li class="xs-list-text">Follow Us</li>
                    <li>
                      <a href="#"><i class="icon icon-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="icon icon-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="icon icon-pinterest"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end quickView --><!-- end feature product full width section -->

    
   
    <!-- hot sale section -->
    <section class="xs-section-padding-2 bg-gray">
      <div class="container container-fullwidth">
        <div class="row">
          <div class="col-lg-4 small-offer-banner-v2">
            <div
              class="small-offer-banner d-flex"
              style="
                background-image: url(/assets/images/web_banner/hand_watch.png);
              "
            >
              <div class="offer-banner-content align-self-center">
                <p>Basic Gift Idea</p>
                <h3>Mini Two Wheel <span>Self Balancing Scooter</span></h3>
                <div class="xs-btn-wraper">
                  <a href="#" class="btn btn-primary">GO SHOP</a>
                </div>
              </div>
            </div>
            <!-- .small-offer-banner END -->
            <div
              class="small-offer-banner d-flex"
              style="background-image: url(/assets/images/web_banner/laptop.png)"
            >
              <div class="offer-banner-content align-self-center">
                <p>Get 50% Off</p>
                <h3>
                  New Arrivals <span>in Accessories at Best Prices.</span>
                </h3>
                <div class="xs-btn-wraper">
                  <a href="#" class="btn btn-primary">GO SHOP</a>
                </div>
              </div>
            </div>
            <!-- .small-offer-banner END -->
          </div>
          <!-- .small-offer-banner END -->
          <div class="col-lg-8">
            <div class="xs-content-header">
              <h2 class="xs-content-title">Hot Sale</h2>
              <ul class="nav nav-tabs xs-nav-tab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="hot-40off-tab"
                    data-toggle="tab"
                    href="#hot-40off"
                    role="tab"
                    aria-controls="hot-40off"
                    aria-selected="true"
                    >40% Off</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="hot-57off-tab"
                    data-toggle="tab"
                    href="#hot-57off"
                    role="tab"
                    aria-controls="hot-57off"
                    aria-selected="false"
                    >57% Off</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="hot-75off-tab"
                    data-toggle="tab"
                    href="#hot-75off"
                    role="tab"
                    aria-controls="hot-75off"
                    aria-selected="false"
                    >75% Off</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="hot-83off-tab"
                    data-toggle="tab"
                    href="#hot-83off"
                    role="tab"
                    aria-controls="hot-83off"
                    aria-selected="false"
                    >83% Off</a
                  >
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="tab-content version-border-right">
              <div
                class="tab-pane fade show active"
                id="hot-40off"
                role="tabpanel"
                aria-labelledby="hot-40off-tab"
              >
                <div class="row no-gutters">
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-deal-blocks deal-block-v2">
                      <img
                        src="/assets/images/274x167/product_4_274x167.jpg"
                        data-echo="/assets/images/274x167/product_4_274x167.jpg"
                        alt="Headphone"
                      />
                      <div class="xs-product-offer-label">
                        <span>57%</span>
                        <small>Offer</small>
                      </div>
                      <div class="title-and-price">
                        <h4 class="product-title">
                          <a href="product-details.html"
                            >LG Mate 62” Retina TV</a
                          >
                        </h4>
                        <span class="price">₹998.00 <del>₹1400.00</del></span>
                      </div>
                      <div class="xs-deals-info">
                        <div class="xs-deal-stock-limit clearfix">
                          <span class="product-sold">Already Sold: 17</span>
                          <span class="product-available">Available: 43</span>
                        </div>
                        <div class="progress xs-progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="60"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <!-- .xs-deals-info END -->
                      <hr />
                      <div class="countdow-timer">
                        <h4>
                          <span class="color-primary">Hurry up!</span> Offers
                          ends in:
                        </h4>
                        <div
                          class="xs-countdown-timer"
                          data-countdown="2020/01/24"
                        ></div>
                      </div>
                      <!-- .countdow-timer END -->
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-deal-blocks deal-block-v2">
                      <img
                        src="/assets/images/274x167/product_1_274x167.jpg"
                        data-echo="/assets/images/274x167/product_1_274x167.jpg"
                        alt="Headphone"
                      />
                      <div class="xs-product-offer-label">
                        <span>40%</span>
                        <small>Offer</small>
                      </div>
                      <div class="title-and-price">
                        <h4 class="product-title">
                          <a href="product-details.html"
                            >HDR Super Dolby Monitor</a
                          >
                        </h4>
                        <span class="price">₹500.00 <del>₹900.00</del></span>
                      </div>
                      <div class="xs-deals-info">
                        <div class="xs-deal-stock-limit clearfix">
                          <span class="product-sold">Already Sold: 40</span>
                          <span class="product-available">Available: 97</span>
                        </div>
                        <div class="progress xs-progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="70"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <!-- .xs-deals-info END -->
                      <hr />
                      <div class="countdow-timer">
                        <h4>
                          <span class="color-primary">Hurry up!</span> Offers
                          ends in:
                        </h4>
                        <div
                          class="xs-countdown-timer"
                          data-countdown="2019/01/24"
                        ></div>
                      </div>
                      <!-- .countdow-timer END -->
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-deal-blocks deal-block-v2">
                      <img
                        src="/assets/images/274x167/product_2_274x167.jpg"
                        data-echo="/assets/images/274x167/product_2_274x167.jpg"
                        alt="Headphone"
                      />
                      <div class="xs-product-offer-label">
                        <span>34%</span>
                        <small>Offer</small>
                      </div>
                      <div class="title-and-price">
                        <h4 class="product-title">
                          <a href="product-details.html"
                            >Microsoft Surface Laptop</a
                          >
                        </h4>
                        <span class="price">₹990.00 <del>₹1200.00</del></span>
                      </div>
                      <div class="xs-deals-info">
                        <div class="xs-deal-stock-limit clearfix">
                          <span class="product-sold">Already Sold: 10</span>
                          <span class="product-available">Available: 40</span>
                        </div>
                        <div class="progress xs-progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="40"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <!-- .xs-deals-info END -->
                      <hr />
                      <div class="countdow-timer">
                        <h4>
                          <span class="color-primary">Hurry up!</span> Offers
                          ends in:
                        </h4>
                        <div
                          class="xs-countdown-timer"
                          data-countdown="2018/12/24"
                        ></div>
                      </div>
                      <!-- .countdow-timer END -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- #hot-40off END -->
              <div
                class="tab-pane fade"
                id="hot-57off"
                role="tabpanel"
                aria-labelledby="hot-57off-tab"
              >
                <div class="row no-gutters">
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-deal-blocks deal-block-v2">
                      <img
                        src="/assets/images/274x167/product_1_274x167.jpg"
                        data-echo="/assets/images/274x167/product_1_274x167.jpg"
                        alt="Headphone"
                      />
                      <div class="xs-product-offer-label">
                        <span>57%</span>
                        <small>Offer</small>
                      </div>
                      <div class="title-and-price">
                        <h4 class="product-title">
                          <a href="product-details.html"
                            >LG Mate 62” Retina TV</a
                          >
                        </h4>
                        <span class="price">₹998.00 <del>₹1400.00</del></span>
                      </div>
                      <div class="xs-deals-info">
                        <div class="xs-deal-stock-limit clearfix">
                          <span class="product-sold">Already Sold: 17</span>
                          <span class="product-available">Available: 43</span>
                        </div>
                        <div class="progress xs-progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="60"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <!-- .xs-deals-info END -->
                      <hr />
                      <div class="countdow-timer">
                        <h4>
                          <span class="color-primary">Hurry up!</span> Offers
                          ends in:
                        </h4>
                        <div
                          class="xs-countdown-timer"
                          data-countdown="2020/01/24"
                        ></div>
                      </div>
                      <!-- .countdow-timer END -->
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-deal-blocks deal-block-v2">
                      <img
                        src="/assets/images/274x167/product_2_274x167.jpg"
                        data-echo="/assets/images/274x167/product_2_274x167.jpg"
                        alt="Headphone"
                      />
                      <div class="xs-product-offer-label">
                        <span>34%</span>
                        <small>Offer</small>
                      </div>
                      <div class="title-and-price">
                        <h4 class="product-title">
                          <a href="product-details.html"
                            >Microsoft Surface Laptop</a
                          >
                        </h4>
                        <span class="price">₹990.00 <del>₹1200.00</del></span>
                      </div>
                      <div class="xs-deals-info">
                        <div class="xs-deal-stock-limit clearfix">
                          <span class="product-sold">Already Sold: 10</span>
                          <span class="product-available">Available: 40</span>
                        </div>
                        <div class="progress xs-progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="40"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <!-- .xs-deals-info END -->
                      <hr />
                      <div class="countdow-timer">
                        <h4>
                          <span class="color-primary">Hurry up!</span> Offers
                          ends in:
                        </h4>
                        <div
                          class="xs-countdown-timer"
                          data-countdown="2018/12/24"
                        ></div>
                      </div>
                      <!-- .countdow-timer END -->
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-deal-blocks deal-block-v2">
                      <img
                        src="/assets/images/274x167/product_3_274x167.jpg"
                        data-echo="/assets/images/274x167/product_3_274x167.jpg"
                        alt="Headphone"
                      />
                      <div class="xs-product-offer-label">
                        <span>40%</span>
                        <small>Offer</small>
                      </div>
                      <div class="title-and-price">
                        <h4 class="product-title">
                          <a href="product-details.html"
                            >HDR Super Dolby Monitor</a
                          >
                        </h4>
                        <span class="price">₹500.00 <del>₹900.00</del></span>
                      </div>
                      <div class="xs-deals-info">
                        <div class="xs-deal-stock-limit clearfix">
                          <span class="product-sold">Already Sold: 40</span>
                          <span class="product-available">Available: 97</span>
                        </div>
                        <div class="progress xs-progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="70"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <!-- .xs-deals-info END -->
                      <hr />
                      <div class="countdow-timer">
                        <h4>
                          <span class="color-primary">Hurry up!</span> Offers
                          ends in:
                        </h4>
                        <div
                          class="xs-countdown-timer"
                          data-countdown="2019/01/24"
                        ></div>
                      </div>
                      <!-- .countdow-timer END -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- #hot-57off END -->
              <div
                class="tab-pane fade"
                id="hot-75off"
                role="tabpanel"
                aria-labelledby="hot-75off-tab"
              >
                <div class="row no-gutters">
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-deal-blocks deal-block-v2">
                      <img
                        src="/assets/images/274x167/product_4_274x167.jpg"
                        data-echo="/assets/images/274x167/product_4_274x167.jpg"
                        alt="Headphone"
                      />
                      <div class="xs-product-offer-label">
                        <span>57%</span>
                        <small>Offer</small>
                      </div>
                      <div class="title-and-price">
                        <h4 class="product-title">
                          <a href="product-details.html"
                            >LG Mate 62” Retina TV</a
                          >
                        </h4>
                        <span class="price">₹998.00 <del>₹1400.00</del></span>
                      </div>
                      <div class="xs-deals-info">
                        <div class="xs-deal-stock-limit clearfix">
                          <span class="product-sold">Already Sold: 17</span>
                          <span class="product-available">Available: 43</span>
                        </div>
                        <div class="progress xs-progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="60"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <!-- .xs-deals-info END -->
                      <hr />
                      <div class="countdow-timer">
                        <h4>
                          <span class="color-primary">Hurry up!</span> Offers
                          ends in:
                        </h4>
                        <div
                          class="xs-countdown-timer"
                          data-countdown="2020/01/24"
                        ></div>
                      </div>
                      <!-- .countdow-timer END -->
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-deal-blocks deal-block-v2">
                      <img
                        src="/assets/images/274x167/product_1_274x167.jpg"
                        data-echo="/assets/images/274x167/product_1_274x167.jpg"
                        alt="Headphone"
                      />
                      <div class="xs-product-offer-label">
                        <span>40%</span>
                        <small>Offer</small>
                      </div>
                      <div class="title-and-price">
                        <h4 class="product-title">
                          <a href="product-details.html"
                            >HDR Super Dolby Monitor</a
                          >
                        </h4>
                        <span class="price">₹500.00 <del>₹900.00</del></span>
                      </div>
                      <div class="xs-deals-info">
                        <div class="xs-deal-stock-limit clearfix">
                          <span class="product-sold">Already Sold: 40</span>
                          <span class="product-available">Available: 97</span>
                        </div>
                        <div class="progress xs-progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="70"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <!-- .xs-deals-info END -->
                      <hr />
                      <div class="countdow-timer">
                        <h4>
                          <span class="color-primary">Hurry up!</span> Offers
                          ends in:
                        </h4>
                        <div
                          class="xs-countdown-timer"
                          data-countdown="2019/01/24"
                        ></div>
                      </div>
                      <!-- .countdow-timer END -->
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-deal-blocks deal-block-v2">
                      <img
                        src="/assets/images/274x167/product_2_274x167.jpg"
                        data-echo="/assets/images/274x167/product_2_274x167.jpg"
                        alt="Headphone"
                      />
                      <div class="xs-product-offer-label">
                        <span>34%</span>
                        <small>Offer</small>
                      </div>
                      <div class="title-and-price">
                        <h4 class="product-title">
                          <a href="product-details.html"
                            >Microsoft Surface Laptop</a
                          >
                        </h4>
                        <span class="price">₹990.00 <del>₹1200.00</del></span>
                      </div>
                      <div class="xs-deals-info">
                        <div class="xs-deal-stock-limit clearfix">
                          <span class="product-sold">Already Sold: 10</span>
                          <span class="product-available">Available: 40</span>
                        </div>
                        <div class="progress xs-progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="40"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <!-- .xs-deals-info END -->
                      <hr />
                      <div class="countdow-timer">
                        <h4>
                          <span class="color-primary">Hurry up!</span> Offers
                          ends in:
                        </h4>
                        <div
                          class="xs-countdown-timer"
                          data-countdown="2018/12/24"
                        ></div>
                      </div>
                      <!-- .countdow-timer END -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- #hot-75off END -->
              <div
                class="tab-pane fade"
                id="hot-83off"
                role="tabpanel"
                aria-labelledby="hot-83off-tab"
              >
                <div class="row no-gutters">
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-deal-blocks deal-block-v2">
                      <img
                        src="/assets/images/274x167/product_3_274x167.jpg"
                        data-echo="/assets/images/274x167/product_3_274x167.jpg"
                        alt="Headphone"
                      />
                      <div class="xs-product-offer-label">
                        <span>57%</span>
                        <small>Offer</small>
                      </div>
                      <div class="title-and-price">
                        <h4 class="product-title">
                          <a href="product-details.html"
                            >LG Mate 62” Retina TV</a
                          >
                        </h4>
                        <span class="price">₹998.00 <del>₹1400.00</del></span>
                      </div>
                      <div class="xs-deals-info">
                        <div class="xs-deal-stock-limit clearfix">
                          <span class="product-sold">Already Sold: 17</span>
                          <span class="product-available">Available: 43</span>
                        </div>
                        <div class="progress xs-progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="60"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <!-- .xs-deals-info END -->
                      <hr />
                      <div class="countdow-timer">
                        <h4>
                          <span class="color-primary">Hurry up!</span> Offers
                          ends in:
                        </h4>
                        <div
                          class="xs-countdown-timer"
                          data-countdown="2020/01/24"
                        ></div>
                      </div>
                      <!-- .countdow-timer END -->
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-deal-blocks deal-block-v2">
                      <img
                        src="/assets/images/274x167/product_4_274x167.jpg"
                        data-echo="/assets/images/274x167/product_4_274x167.jpg"
                        alt="Headphone"
                      />
                      <div class="xs-product-offer-label">
                        <span>34%</span>
                        <small>Offer</small>
                      </div>
                      <div class="title-and-price">
                        <h4 class="product-title">
                          <a href="product-details.html"
                            >Microsoft Surface Laptop</a
                          >
                        </h4>
                        <span class="price">₹990.00 <del>₹1200.00</del></span>
                      </div>
                      <div class="xs-deals-info">
                        <div class="xs-deal-stock-limit clearfix">
                          <span class="product-sold">Already Sold: 10</span>
                          <span class="product-available">Available: 40</span>
                        </div>
                        <div class="progress xs-progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="40"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <!-- .xs-deals-info END -->
                      <hr />
                      <div class="countdow-timer">
                        <h4>
                          <span class="color-primary">Hurry up!</span> Offers
                          ends in:
                        </h4>
                        <div
                          class="xs-countdown-timer"
                          data-countdown="2018/12/24"
                        ></div>
                      </div>
                      <!-- .countdow-timer END -->
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="xs-deal-blocks deal-block-v2">
                      <img
                        src="/assets/images/274x167/product_1_274x167.jpg"
                        data-echo="/assets/images/274x167/product_1_274x167.jpg"
                        alt="Headphone"
                      />
                      <div class="xs-product-offer-label">
                        <span>40%</span>
                        <small>Offer</small>
                      </div>
                      <div class="title-and-price">
                        <h4 class="product-title">
                          <a href="product-details.html"
                            >HDR Super Dolby Monitor</a
                          >
                        </h4>
                        <span class="price">₹500.00 <del>₹900.00</del></span>
                      </div>
                      <div class="xs-deals-info">
                        <div class="xs-deal-stock-limit clearfix">
                          <span class="product-sold">Already Sold: 40</span>
                          <span class="product-available">Available: 97</span>
                        </div>
                        <div class="progress xs-progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="70"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <!-- .xs-deals-info END -->
                      <hr />
                      <div class="countdow-timer">
                        <h4>
                          <span class="color-primary">Hurry up!</span> Offers
                          ends in:
                        </h4>
                        <div
                          class="xs-countdown-timer"
                          data-countdown="2019/01/24"
                        ></div>
                      </div>
                      <!-- .countdow-timer END -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- #hot-83off END -->
            </div>
          </div>
        </div>
        <!-- .row END -->
      </div>
      <!-- .container END -->
    </section>
    <!-- end hot sale section -->

    <!-- tab with widget slider section -->
    
    <!-- end tab with widget slider section section -->

   
    <!-- recently added full width version section -->
    <div class="xs-section-padding-2 xs-recently-added">
      <div class="container container-fullwidth">
        <div class="row">
          <div class="col-md-12">
            <div class="xs-content-header">
              <h2 class="xs-content-title">Recently Added</h2>
              <div class="customNavigation xs-custom-nav">
                <a class="prev" id="prev-15"
                  ><i class="icon icon-left-arrows"></i
                ></a>
                <a class="next" id="next-15"
                  ><i class="icon icon-right-arrow"></i
                ></a>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="xs-slider-7-col owl-carousel tab-slider-center">
            <% if(typeof recently_added !== 'undefined' && recently_added){  
              for(var i=0;i<5;i++){ %>
                
                  <div class="xs-product-category">
                    <img
                      src="<%= recently_added[i].productdetail.avatar[0]%>"
                      data-echo="<%= recently_added[i].productdetail.avatar[0]%>"
                      style="width: 71px;height: 70px;"
                      alt="Mobile"
                    />
                    <h4 class="product-title">
                      <a href="product/id/<%= recently_added[i]._id%>"
                        ><%= recently_added[i].productdetail.productname%></a
                      >
                    </h4>
                    <span class="price color-primary">
                      ₹<%= recently_added[i].productdetail.price%>
                      <del>₹900.00</del>
                    </span>
                  </div>
              <%}%>

            

              <%} else{%>
              <div class="xs-slider-7-col owl-carousel tab-slider-center">
                <div class="xs-product-category">
                  <img
                    src="/assets/images/71x70/product_1_71x70"
                    data-echo="/assets/images/71x70/product_1_71x70.jpg"
                    alt="Mobile"
                  />
                  <h4 class="product-title">
                    <a href="product-details.html"
                      >Sony Playstation VR Box - E5RT8(B)</a
                    >
                  </h4>
                  <span class="price color-primary">
                    ₹45.00
                    <del>₹56.00</del>
                  </span>
                </div>
                <%}%>
              <!-- .xs-product-category END -->
              <div class="xs-product-category">
                <img
                  src="/assets/images/71x70/product_2_71x70"
                  data-echo="/assets/images/71x70/product_2_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html">Buzz Young King Big Speaker</a>
                </h4>
                <span class="price color-primary">
                  ₹678.00
                  <del>₹780.00</del>
                </span>
              </div>
              <!-- .xs-product-category END -->
              <!-- <div class="xs-product-category">
                <img
                  src="/assets/images/71x70/product_3_71x70"
                  data-echo="/assets/images/71x70/product_3_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html">Solarex Minimal Hand Watch</a>
                </h4>
                <span class="price color-primary">
                  ₹120.00
                  <del>₹229.00</del>
                </span>
              </div> -->
              <!-- .xs-product-category END -->
              <!-- <div class="xs-product-category">
                <img
                  src="/assets/images/71x70/product_4_71x70"
                  data-echo="/assets/images/71x70/product_4_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html"
                    >JBL Evol Type DC Wifi Speaker</a
                  >
                </h4>
                <span class="price color-primary">
                  ₹450.00
                  <del>₹570.00</del>
                </span>
              </div> -->
              <!-- .xs-product-category END -->
              <!-- <div class="xs-product-category">
                <img
                  src="/assets/images/71x70/product_5_71x70"
                  data-echo="/assets/images/71x70/product_5_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html">Ultra 4K Digital Mega DSLR</a>
                </h4>
                <span class="price color-primary">
                  ₹670.00
                  <del>₹990.00</del>
                </span>
              </div> -->
              <!-- .xs-product-category END -->
              <!-- <div class="xs-product-category">
                <img
                  src="/assets/images/71x70/product_6_71x70"
                  data-echo="/assets/images/71x70/product_6_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html"
                    >HP Jet Hypo Mobile Retina Printer</a
                  >
                </h4>
                <span class="price color-primary">
                  ₹532.00
                  <del>₹646.00</del>
                </span>
              </div> -->
              <!-- .xs-product-category END -->
              <!-- <div class="xs-product-category">
                <img
                  src="/assets/images/71x70/product_7_71x70"
                  data-echo="/assets/images/71x70/product_7_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html"
                    >Jazz Evolution Jakas Headphone</a
                  >
                </h4>
                <span class="price color-primary">
                  ₹470.00
                  <del>₹670.00</del>
                </span>
              </div> -->
              <!-- .xs-product-category END -->
              <!-- <div class="xs-product-category"> -->
                <!-- <img
                  src="/assets/images/71x70/product_8_71x70"
                  data-echo="/assets/images/71x70/product_9_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html"
                    >Sony Playstation VR Box - E5RT8(B)</a
                  >
                </h4>
                <span class="price color-primary">
                  ₹45.00
                  <del>₹56.00</del>
                </span>
              </div>
              <!-- .xs-product-category END -->
              <!-- <div class="xs-product-category">
                <img
                  src="/assets/images/71x70/product_9_71x70"
                  data-echo="/assets/images/71x70/product_9_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html">Buzz Young King Big Speaker</a>
                </h4>
                <span class="price color-primary">
                  ₹678.00
                  <del>₹780.00</del>
                </span>
              </div> -->
              <!-- .xs-product-category END -->
              <!-- <div class="xs-product-category">
                <img
                  src="/assets/images/71x70/product_10_71x70"
                  data-echo="/assets/images/71x70/product_10_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html">Solarex Minimal Hand Watch</a>
                </h4>
                <span class="price color-primary">
                  ₹120.00
                  <del>₹229.00</del>
                </span>
              </div> -->
              <!-- .xs-product-category END -->
              <!-- <div class="xs-product-category">
                <img
                  src="/assets/images/71x70/product_11_71x70"
                  data-echo="/assets/images/71x70/product_11_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html"
                    >JBL Evol Type DC Wifi Speaker</a
                  >
                </h4>
                <span class="price color-primary">
                  ₹450.00
                  <del>₹570.00</del>
                </span>
              </div> -->
              <!-- .xs-product-category END -->
              <!-- <div class="xs-product-category">
                <img
                  src="/assets/images/71x70/product_12_71x70"
                  data-echo="/assets/images/71x70/product_12_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html">Ultra 4K Digital Mega DSLR</a>
                </h4>
                <span class="price color-primary">
                  ₹670.00
                  <del>₹990.00</del>
                </span>
              </div> -->
              <!-- .xs-product-category END -->
              <!-- <div class="xs-product-category">
                <img
                  src="/assets/images/71x70/product_1_71x70"
                  data-echo="/assets/images/71x70/product_1_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html"
                    >HP Jet Hypo Mobile Retina Printer</a
                  >
                </h4>
                <span class="price color-primary">
                  ₹532.00
                  <del>₹646.00</del>
                </span>
              </div> -->
              <!-- .xs-product-category END -->
              <!-- <div class="xs-product-category">
                <img
                  src="/assets/images/71x70/product_2_71x70"
                  data-echo="/assets/images/71x70/product_2_71x70.jpg"
                  alt="Mobile"
                />
                <h4 class="product-title">
                  <a href="product-details.html"
                    >Jazz Evolution Jakas Headphone</a
                  >
                </h4>
                <span class="price color-primary">
                  ₹470.00
                  <del>₹670.00</del>
                </span>
              </div>
              .xs-product-category END -->
            <!-- </div> -->
            <!-- .xs-slider-7-col END -->
          </div>
        </div>
      </div>
      <!-- .container END -->
    </div>
    <!-- End recently added full width version section -->
    
    <!-- brand list section -->
   
    <!-- end brand list section -->
      <!-- recent view product section -->
      <div class="xs-recent-view-product my-3">
        <div class="container container-fullwidth">
          <div class="xs-recent-product-wraper">
            <h2 class="xs-content-title">Your Recently Viewed Products</h2>
            <div class="recent-view-slider owl-carousel">
              <div class="item">
                <a href="#">
                  <img
                    src="/assets/images/203x200/product_1_203x200.jpg"
                    data-echo="/assets/images/203x200/product_1_203x200.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img
                    src="/assets/images/203x200/product_1_203x200.jpg"
                    data-echo="/assets/images/203x200/product_1_203x200.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img
                    src="/assets/images/203x200/product_1_203x200.jpg"
                    data-echo="/assets/images/203x200/product_1_203x200.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img
                    src="/assets/images/203x200/product_1_203x200.jpg"
                    data-echo="/assets/images/203x200/product_1_203x200.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img
                    src="/assets/images/203x200/product_2_203x200.jpg"
                    data-echo="/assets/images/203x200/product_2_203x200.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img
                    src="/assets/images/203x200/product_3_203x200.jpg"
                    data-echo="/assets/images/203x200/product_3_203x200.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img
                    src="/assets/images/203x200/product_4_203x200.jpg"
                    data-echo="/assets/images/203x200/product_4_203x200.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img
                    src="/assets/images/203x200/product_5_203x200.jpg"
                    data-echo="/assets/images/203x200/product_5_203x200.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img
                    src="/assets/images/203x200/product_1_203x200.jpg"
                    data-echo="/assets/images/203x200/product_1_203x200.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img
                    src="/assets/images/203x200/product_2_203x200.jpg"
                    data-echo="/assets/images/203x200/product_2_203x200.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img
                    src="/assets/images/203x200/product_3_203x200.jpg"
                    data-echo="/assets/images/203x200/product_3_203x200.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img
                    src="/assets/images/203x200/product_4_203x200.jpg"
                    data-echo="/assets/images/203x200/product_4_203x200.jpg"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- .container END -->
      </div>
      <!-- end recent view product section -->
  
    <%- include('partials/footer'); -%>
    <!-- js file start -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/Popper.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.menu-aim.js"></script>
    <script src="/assets/js/vertical-menu.js"></script>
    <script src="/assets/js/tweetie.js"></script>
    <script src="/assets/js/echo.min.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyCy7becgYuLwns3uumNm6WdBYkBpLfy44k"></script>
    <script src="/assets/js/spectragram.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- End js file -->
  </body>
</html>
